.Logo{
    font-family: "Monaco", monospace;
    color: lightgray;
    font-size: 100%;
    max-width: 50%;
    max-height: 50%;
}
.container {  display: grid;
        grid-template-columns: 0.8fr 1.4fr 0.9fr;
        grid-template-rows: 1.3fr 4fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "Header Header Header"
          "Left-Margin Media Right-Margin";
      }
      
.Header {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . ."
          "Menu-Bar Menu-Bar Menu-Bar";
        grid-area: Header;
      }
      
.Menu-Bar { grid-area: Menu-Bar; }
      
.Left-Margin { grid-area: Left-Margin; }
      
.Media { grid-area: Media; }
      
.Right-Margin { grid-area: Right-Margin; }
      