.Logo{
    font-family: "Monaco", monospace;
    color: lightgray;
    font-size: 100%;
    max-width: 50%;
    max-height: 50%;
}
.container {  
        background-color: #21407c;
        display: grid;
        grid-template-columns: 0.8fr 1.4fr 0.9fr;
        grid-template-rows: 1.3fr 4fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "Header Header Header"
          "Left-Margin Media Right-Margin";
      }
      
.Header {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . ."
          "Menu-Bar Menu-Bar Menu-Bar";
        grid-area: Header;
      }
      
.Menu-Bar { grid-area: Menu-Bar; }
      
.Left-Margin { grid-area: Left-Margin; width: calc(100% / 3);}
      
.Media { grid-area: Media; width: calc(100% / 3); }
      
.Right-Margin { grid-area: Right-Margin; width: calc(100% / 3); }

/* .my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  } */
  
  .message {margin-bottom: 15px;
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
    border: 2px ridge}
  .image {float:left; margin-right: 10px; }
  .user {float:left; font-weight:bold; color:#009; margin-bottom: 5px; }
  .content { margin-left: 30px;font-style:italic; color:#; }