.container {  
    
    display: grid;
    grid-template-columns: 0.2fr 2.6fr 0.2fr;
    grid-template-rows: 0.7fr 1.3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-content: center;
    justify-items: stretch;
    grid-template-areas:
      "Heading Heading Heading"
      ". Content ."
      ". Content .";
  }
  
  .Heading {  
    background-image: url("BkgPhoto.png");
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      ". . ."
      ". . ."
      "Toolbar Toolbar Toolbar";
    grid-area: Heading;
  }
  
  .Toolbar { grid-area: Toolbar; }
  
  .Content { grid-area: Content;}
  
  #h1 {
    text-shadow: 2px 2px 3px #21407c;
    font-family: Monaco, monospace;
    color: white;
    font-size: 5vh;
    text-align: center;
  }
  
  h3{
    text-align: center;
  }
  